@import "plugin://bamboo.web.resources.common/global.less";

.docker-plugin {

    /* Docker Run Task */
    .ports-list, .volumes-list {
        list-style: none;
        margin: 0 0 10px;
        padding: 0;
    }

    .ports-list-item, .volumes-list-item {
        margin-top: 5px;
    }

    span.field-value-normal-font {
        font-weight: normal;
    }

    &__volumes, &__ports {

        margin-bottom: @doubleSpacing;

        input[type="text"] {
            min-width: 100%;
            max-width: 100%;
        }

        &-actions {
            line-height: 40px;
        }

        &-directory, &-container {
            width: 50%;
        }

        &-row {
            &:hover {
                background-color: @bodyBackgroundColor !important;
            }
            &:hover, &.active, &.error {
                input[type="text"]{
                    border-color: @dividerColor !important;
                    box-shadow: inset 0 1px 3px @dividerColor !important;
                }
            }
            input[type="text"]{
                border-color: transparent;
                box-shadow: none;
            }

        }

        &-add, tr.active, tr.active:hover {
            background-color: @primaryHighlightColor !important;
        }

        tr.error, tr.error:hover {
            background-color: @errorBackgroundColor !important;
        }
    }

}